body{
    background-image: url(../img/mini-caixas-de-compras-em-cima-de-laptop.webp.jpg);
    background-size: cover;
  }
h1{
   text-align: center;
   font-size: 100px;
}
.t1{
       color: white;
}
.t2{
       color:black;

}